.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #141414;
}

.chatIcon {
    width: 60px;
    cursor: pointer;
}

.profileImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.defaultProfile {
    font-size: 33px;
}

.form {
    display: flex;
}

.inputVideo {
    height: 36px;
    width: 83%;
    min-width: 200px;
    padding-left: 11px;
    border: 1px solid white;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    background-color: #181818;
    color: white;
}

.inputVideo::placeholder {
    color: white;
}

.inputVideo:focus {
    outline: none;
}

.submit {
    height: 36px;
    padding: 4px;
    border: 1px solid white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    background-color: #181818;
    color: white;
}