.Login_Container {
    background: #161d29;
}
.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/chatBallon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.form {
    width: 77%;
    height: 3.56em;
    display: flex;
    max-width: 31.23em;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.4rem;
    font-family: 'Kanit', sans-serif;
}

.error {
    color: rgb(255, 0, 0);
}

.inputCamp {
    width: 69%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 27px;
}

.inputField {
    width: 100%;
    border: none;
    height: 51px;
    border-radius: 7px;
    padding-left: 13px;
    font-size: 15px;
}

.label {
    padding-left: 8px;
}

.inputField:focus {
    outline: none;
}

.inputSubmit {
    width: 100%;
    border-radius: 8px;
    background: #48BB9C;
    border: 1px solid #48BB9C;
    height: 51px;
    cursor: pointer;
}

.form a {
    text-decoration: none;
    color: #66878E;
}

.arrow {
    font-size: 36px;
}

@media (max-width: 700px) {
    .form {
        gap: 0.4rem;
    }

    .inputField {
        height: 43px;
    }

    .inputSubmit {
        height: 37px;
    }
}