.main {
    height: 100vh;
    padding-top: 44px;
    background: #000
}

.form {
    max-width: 560px;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    color: white;
    font-size: 40px;
    margin-bottom: 18px;
    font-family: "Kanit";
    font-weight: 600;
    font-variant: small-caps;
}

.container_inputs {
    display: flex;
    align-items: center;
    border-top: 3px solid #ffff;
    border-bottom: 3px solid #ffff;
    padding: 14px 0 14px 0;
    gap: 13px;
}

.img {
    width: 140px;
    height: 140px;
}

.name_box {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.input_name {
    height: 39px;
    background: #333;
    border: 1px solid #333;
    color: #ffff;
    padding-left: 13px;
}

.input_name::placeholder {
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 17px;
    padding-top: 14px;
}

.button_actions {
    background: #000;
    color: #ffff;
    height: 35px;
    width: 80px;
    border: 1px solid white;
    cursor: pointer;
}

.button_actions:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

@media(max-width: 600px) {
    .container_inputs {
        padding: 14px 0 14px 10px;
    }
}


@media(min-width: 800px) {
    .container_inputs {
        padding: 14px 0 14px 29px;
        height: 213px;
    }

    .input_name {
        width: 214px;
        height: 45px;
    }
}